name: "Jira Integration Action"
on:
  pull_request_review:
    types: [submitted]

jobs:
  update-jira-issue:
    runs-on: iyb-infra-arc
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Integration
        uses: ./jira-pull-requests
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          jira_url: ${{ secrets.JIRA_URL }}
          jira_user: ${{ secrets.JIRA_BOT_USER }}
          jira_token: ${{ secrets.JIRA_BOT_TOKEN }}
          jira_project_key: IYM
          user_mappings: ${{ secrets.USER_MAPPINGS_JSON }}